.admission {
   padding: 2.688rem 0;

   &__container {
    padding: 0 4.813rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
   }

   &__list {
     display: flex;
     flex-direction: column;
     gap: clamp(0.5rem, 2vw, 0.7rem);
   }

   &__item {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;

    &-link {
         height: 21rem;
      width: auto;
            flex: 1;
      
      img {
      object-fit: cover;
      border: 0.063rem solid grey;
      border-radius: 1.7rem;
      height: 21rem;
      width: auto;
      flex: 1;
      }
    }


    


   }
}

@media (max-width: 960px) {
  .admission {
    &__container {
      padding: 0 1.5rem;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &__item {
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      &-link {
        width: 100%;
        max-width: 30.063rem;
        height: auto;

        img,
        &-img1 {
          width: 100%;
          height: auto; 
          max-width: 100%;
          object-fit: cover;
          border-radius: 1.7rem;
          display: block;
        }
      }
    }
  }
}



@media (max-width: 560px) {
  .admission {
    padding: 0;

    &__container {

      padding: 0;
      gap: 1rem;
    }

    &__list {
      gap: 1rem;
    }
  }
} 